<h2>タイトル</h2>
<p><%= @article.title %></p>
<h2>本文</h2>
<p><%= @article.body %></p>
<h2>著者</h2>
<p><%= @article.author %></p>
<%= link_to '編集', edit_article_path(@article.id),class:"btn edit-btn" %>
<%= link_to '削除', destroy_article_path(@article.id), method: :delete, class:"btn edit-btn", "data-confirm" =>"本当に削除しますか？" %>
<p><%= link_to '投稿一覧へ',articles_index_path %></p>

